* {
    font-family: 'Poppins', sans-serif !important;
    /* padding: 0px !important; */
}

html {
    background-color: #f8f8fb;
    color: #495057;
    
}

body {
    margin: 0px !important;
}



/* Styling for the dismissable message */
.assistant-info {
    position: fixed;
    bottom: 100px; /* Position above the toggle icon */
    right: 20px; /* Align with the toggle icon */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    z-index: 1000; /* Ensure it appears above other elements */
    max-width: 250px; /* Limit width for multi-line text */
    word-wrap: break-word; /* Wrap text to fit within the box */
  }

  .assistant-info .close-button {
    position: absolute;
    top: -30px;
    left: -10px;
    width: 24px;
    height: 24px;
    /* background-color: #fff; */
    background-color: #c5c5c5;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    /* color: #888; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .assistant-info .close-button:hover {
    color: #555;
    background-color: #f0f0f0;
  }
