@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-color: blue;
  --primary-variable-color-50: #eff6ff;
  --primary-variable-color-100: #dbeafe;
  --primary-variable-color-200: #bfdbfe;
  --primary-variable-color-300: #93c5fd;
  --primary-variable-color-400: #60a5fa;
  --primary-variable-color-500: #3b82f6;
  --primary-variable-color-600: #2563eb;
  --primary-variable-color-700: #1d4ed8;
  --primary-variable-color-800: #1e40af;
  --primary-variable-color-900: #1e3a8a;

  --background-color: #ffffff;

  /* Fonts */
  --font-primary: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Swiper Custom Styles */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  border-radius: 5px !important;
  margin: 0 6px !important;
}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-wrapper {
  height: max-content !important;
  width: max-content !important;
  padding-bottom: 64px;
}

@media (max-width: 768px) {
  .swiper-wrapper {
    padding-bottom: 40px;
  }
}

.swiper-pagination-bullet-active {
  background: var(--primary-variable-color-400) !important;
}

.swiper-slide.swiper-slide-active > .slide_active\:border-indigo-600 {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.swiper-slide.swiper-slide-active > .group .slide_active\:text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
